name: Frontend build and publish

on:
  push:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - run: npm clean-install
      - run: npm run build --if-present

  publish-npm:
    needs: build
    defaults:
      run:
        working-directory: ./frontend
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - run: npm clean-install
      - run: npm run build --if-present
      - run: |
          npm pkg set name=@_accesshasbeendenied/project-devops-deploy-frontend
          npm pkg delete private
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
