name: Frontend build and publish

on:
  push:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - run: npm clean-install
      - run: npm run build --if-present

  publish-gpr:
    needs: build
#    if: github.ref == 'refs/heads/main'
    defaults:
      run:
        working-directory: ./frontend
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com
          scope: '@accesshasbeendenied'
      - run: npm clean-install
      - run: |
          npm pkg set name=@accesshasbeendenied/project-devops-deploy-frontend
          npm pkg delete private
          npm version patch --no-git-tag-version 
      - run: npm publish --registry https://npm.pkg.github.com --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
